.login_wrapper{
  background-color: #3099d5;
  width: 100vw;
  height: 100vh;


  .block{
    width: 550px;
    height: 350px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    text-align: center;
    h3{
      position: absolute;
      top: -150px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-weight: lighter;
      font-size: 28px;
    }

    .form{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%,-50%);
      overflow: hidden;
      input{
        width: 260px;
        height: 40px;
        display: block;
        margin: 15px auto;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        padding: 5px;
        box-sizing: border-box;
      }
      button{
        background-color: #3099d5;
        border: none;
        cursor: pointer;
        color: white;
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin-top: 30px;
      }


    }
  }
}
